stages:
  - update_helm_repo

variables:
  BASEROW_REPO_ID: 10858056
  BASEROW_BUILD_BRANCH: master
  BASEROW_JOB_NAME: publish-helm-chart
  HELM_CHART_VERSION: 0.0.1

update_helm_repo:
  stage: update_helm_repo
  image: alpine:latest
  script:
    - apk update && apk add unzip curl git helm openssh
    - echo "Pulling artifacts from $BASEROW_REPO_ID $BASEROW_BUILD_BRANCH $BASEROW_JOB_NAME"
    - 'curl --location "https://gitlab.com/api/v4/projects/$BASEROW_REPO_ID/jobs/artifacts/$BASEROW_BUILD_BRANCH/download?job=$BASEROW_JOB_NAME" --output artifacts.zip'
    - unzip artifacts.zip
    - mv deploy/helm/baserow* public
    - rm -r deploy/helm
    - rm -r deploy
    - helm repo index --url https://baserow.gitlab.io/baserow-chart . 
    - git config user.email "helm-chart@baserow.io"
    - git config user.name "Baserow Helm Repo Bot"
    - git remote add repo_origin https://oauth2:$PROJECT_ACCESS_TOKEN@gitlab.com/baserow/baserow-chart
    - git add public/*.tgz index.yaml
    - git commit -m "Updated Helm chart version to $HELM_CHART_VERSION"
    - git push repo_origin HEAD:main -o ci.skip
  rules:
    - if: $CI_PIPELINE_SOURCE == "pipeline" || $CI_PIPELINE_SOURCE == "web"